.product-container{
    /* border: 2px solid black; */
    display: flex;
    /* height: 70vh; */
    margin: 60px;
    margin-left: 80px;

}
.product-image{
    /* border: 2px solid black; */
    width: 70%
}
.product-image img{
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px;
    width: 500px;
    height: 500px;
}
.product-description{
    /* border: 2px solid black; */
    padding: 30px;
}
.product-description h1{
    font-size: 45px;
}
.item-description{
    margin-top: 20px;
    font-size: 20px;
}
.item-price{
    font-size: 30px;
    margin-top: 30px;
}
.price-tag{
    color: red;
}

.cart{
    /* border:2px solid red */
}
.rating{
    padding-top: 20px;
    color: yellow;
}
p{
    color: black;
}